PORT=value
ENVIRONMENT=value
VERSION=value
APP_NAME=value
POSTGRES_HOST=value
POSTGRES_PORT=value
POSTGRES_USER=value
POSTGRES_PASSWORD=value
POSTGRES_DATABASE=value
GORM_LOG=value
POSTGRES_MIN_CONN=value
POSTGRES_MAX_CONN=value
ALLOWERD_ORIGIN=value
SECRET_KEY=value
TOKEN_LIFETIME_MIN=value